In [1]:
import pandas as pd
import ast

In [2]:
bnb = pd.read_json('/Users/anithasmac/Downloads/sample_airbnb.json')

In [3]:
bnb

,_id,listing_url,name,summary,space,description,neighborhood_overview,notes,transit,access,...,guests_included,images,host,address,availability,review_scores,reviews,weekly_price,monthly_price,reviews_per_month
0,1003530,https://www.airbnb.com/rooms/1003530,New York City - Upper West Side Apt,,"Murphy bed, optional second bedroom available....","Murphy bed, optional second bedroom available....",Great neighborhood - many terrific restaurants...,"My cat, Samantha, are in and out during the su...","Conveniently located near 1, 2, 3, B & C subwa...",New York City!,...,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '454250', 'host_url': 'https://www...","{'street': 'New York, NY, United States', 'sub...","{'availability_30': 0, 'availability_60': 0, '...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '4351675', 'date': '2013-04-29 04:00:...",NaN,NaN,NaN
1,10133554,https://www.airbnb.com/rooms/10133554,Double and triple rooms Blue mosque,,We are on the central city Blue mosque 5 minu...,We are on the central city Blue mosque 5 minu...,Cankurtaran mahallesi akbıyık caddesi no 22 Su...,,Tram 5 minutes metro 10 minutes Bus 10 minutes,"We have bathroom,wc,İnternet in rooms and unde...",...,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '52004703', 'host_url': 'https://w...","{'street': 'Fatih , İstanbul, Turkey', 'suburb...","{'availability_30': 30, 'availability_60': 60,...","{'review_scores_accuracy': 9, 'review_scores_c...","[{'_id': '149469150', 'date': '2017-05-04 04:0...",NaN,NaN,NaN
2,10059872,https://www.airbnb.com/rooms/10059872,"Soho Cozy, Spacious and Convenient","Clean, fully furnish, Spacious 1 bedroom flat ...",,"Clean, fully furnish, Spacious 1 bedroom flat ...",,,,,...,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '51624384', 'host_url': 'https://w...","{'street': 'Hong Kong, Hong Kong Island, Hong ...","{'availability_30': 0, 'availability_60': 0, '...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '56904633', 'date': '2015-12-19 05:00...",5000.0,NaN,NaN
3,10084023,https://www.airbnb.com/rooms/10084023,City center private room with bed,House is located 5mins walk from Sham Shui Po ...,"The house is old fashion type, and paint the w...",House is located 5mins walk from Sham Shui Po ...,"Cheapest food, electronic device, clothing and...",Deposit of $1000 will be charged and will retu...,"Close to 3 different MTR Station, Sham shui Po...","Living Room , Kitchen and Toilet, All cooking ...",...,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '51744313', 'host_url': 'https://w...","{'street': 'Hong Kong , 九龍, Hong Kong', 'subur...","{'availability_30': 14, 'availability_60': 24,...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '57191745', 'date': '2015-12-22 05:00...",1350.0,5000.0,NaN
4,10091713,https://www.airbnb.com/rooms/10091713,Surry Hills Studio - Your Perfect Base in Sydney,"This spacious, light filled studio has everyth...",Comfortable studio with a great layout. The ba...,"This spacious, light filled studio has everyth...",Surry Hills is a vibrant eclectic community an...,"WiFi, Apple TV with Netflix App (for use with ...",Travel Card 'Opal' travel cards work on all Sy...,You have full use of the entire studio and com...,...,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '13764143', 'host_url': 'https://w...","{'street': 'Surry Hills, NSW, Australia', 'sub...","{'availability_30': 0, 'availability_60': 0, '...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '123549502', 'date': '2016-12-29 05:0...",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,9985696,https://www.airbnb.com/rooms/9985696,Kadıköy-Altıyol,Kadıköy merkezde 2+1 dairem vardır.Çok kalabal...,,Kadıköy merkezde 2+1 dairem vardır.Çok kalabal...,,,,,...,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '51303748', 'host_url': 'https://w...","{'street': 'Kadıköy, İstanbul, Turkey', 'subur...","{'availability_30': 30, 'availability_60': 60,...",{},[],NaN,NaN,NaN
5551,9993190,https://www.airbnb.com/rooms/9993190,Just Steps from the Ocean at Premier Platinum ...,Relax Hawaiian Style in Gated Community on Oce...,"***NOTE: THE OCEAN INFINITY POOL (""POOL 1""0 WI...",Relax Hawaiian Style in Gated Community on Oce...,Location: Located at the south end of Lahaina ...,Puamana Resort requires a $10/day resort fee w...,You can walk to most attractions within Lahain...,Guests will have access to the 3 pools in the ...,...,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '51013381', 'host_url': 'https://w...","{'street': 'Lahaina, HI, United States', 'subu...","{'availability_30': 0, 'availability_60': 8, '...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '68762225', 'date': '2016-04-06 04:00...",NaN,NaN,NaN
5552,9887054,https://www.airbnb.com/rooms/9887054,Quarry Bay fully furnished studio C,Newly renovated studio flat with full furniture.,,Newly renovated studio flat with full furniture.,,,,,...,2,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '31386255', 'host_url': 'https://w...","{'street': 'Hong Kong, Hong Kong Island, Hong ...","{'availability_30': 18, 'availability_60': 48,...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '105800033', 'date': '2016-10-02 04:0...",NaN,NaN,NaN
5553,9907907,https://www.airbnb.com/rooms/9907907,Large double room in Bondi,A bright large double room is available in a b...,,A bright large double room is available in a b...,,,The flat is exactly half way between the shops...,"Guests will have access to the full residence,...",...,2,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '47615848', 'host_url': 'https://w...","{'street': 'Bondi Beach, NSW, Australia', 'sub...","{'availability_30': 0, 'availability_60': 0, '...",{},[],NaN,NaN,NaN
5554,9936016,https://www.airbnb.com/rooms/9936016,Alugo Apartamento na Tijuca,Apartamento amplo que acomoda 6 pessoas. Um qu...,,Apartamento amplo que acomoda 6 pessoas. Um qu...,,,,,...,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '47092481', 'host_url': 'https://w...","{'street': 'Rio de Janeiro, Rio de Janeiro, Br...","{'availability_30': 0, 'availability_60': 0, '...",{},[],NaN,NaN,NaN

In [4]:
bnb.head(3)

,_id,listing_url,name,summary,space,description,neighborhood_overview,notes,transit,access,...,guests_included,images,host,address,availability,review_scores,reviews,weekly_price,monthly_price,reviews_per_month
0,1003530,https://www.airbnb.com/rooms/1003530,New York City - Upper West Side Apt,,"Murphy bed, optional second bedroom available....","Murphy bed, optional second bedroom available....",Great neighborhood - many terrific restaurants...,"My cat, Samantha, are in and out during the su...","Conveniently located near 1, 2, 3, B & C subwa...",New York City!,...,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '454250', 'host_url': 'https://www...","{'street': 'New York, NY, United States', 'sub...","{'availability_30': 0, 'availability_60': 0, '...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '4351675', 'date': '2013-04-29 04:00:...",NaN,NaN,NaN
1,10133554,https://www.airbnb.com/rooms/10133554,Double and triple rooms Blue mosque,,We are on the central city Blue mosque 5 minu...,We are on the central city Blue mosque 5 minu...,Cankurtaran mahallesi akbıyık caddesi no 22 Su...,,Tram 5 minutes metro 10 minutes Bus 10 minutes,"We have bathroom,wc,İnternet in rooms and unde...",...,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '52004703', 'host_url': 'https://w...","{'street': 'Fatih , İstanbul, Turkey', 'suburb...","{'availability_30': 30, 'availability_60': 60,...","{'review_scores_accuracy': 9, 'review_scores_c...","[{'_id': '149469150', 'date': '2017-05-04 04:0...",NaN,NaN,NaN
2,10059872,https://www.airbnb.com/rooms/10059872,"Soho Cozy, Spacious and Convenient","Clean, fully furnish, Spacious 1 bedroom flat ...",,"Clean, fully furnish, Spacious 1 bedroom flat ...",,,,,...,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '51624384', 'host_url': 'https://w...","{'street': 'Hong Kong, Hong Kong Island, Hong ...","{'availability_30': 0, 'availability_60': 0, '...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '56904633', 'date': '2015-12-19 05:00...",5000.0,NaN,NaN

In [5]:
bnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 42 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   _id                    5555 non-null   int64
 1   listing_url            5555 non-null   object
 2   name                   5555 non-null   object
 3   summary                5555 non-null   object
 4   space                  5555 non-null   object
 5   description            5555 non-null   object
 6   neighborhood_overview  5555 non-null   object
 7   notes                  5555 non-null   object
 8   transit                5555 non-null   object
 9   access                 5555 non-null   object
 10  interaction            5555 non-null   object
 11  house_rules            5555 non-null   object
 12  property_type          5555 non-null   object
 13  room_type              5555 non-null   object
 14  bed_type               5555 non-null   object
 15  minimum_nights         5555 non-null   int64
 16  maximum_nights         5555 non-null   int64
 17  cancellation_policy    5555 non-null   object
 18  last_scraped           5555 non-null   object
 19  calendar_last_scraped  5555 non-null   object
 20  first_review           4167 non-null   object
 21  last_review            4167 non-null   object
 22  accommodates           5555 non-null   int64
 23  bedrooms               5550 non-null   float64
 24  beds                   5542 non-null   float64
 25  number_of_reviews      5555 non-null   int64
 26  bathrooms              5545 non-null   float64
 27  amenities              5555 non-null   object
 28  price                  5555 non-null   int64
 29  security_deposit       3471 non-null   float64
 30  cleaning_fee           4024 non-null   float64
 31  extra_people           5555 non-null   int64
 32  guests_included        5555 non-null   int64
 33  images                 5555 non-null   object
 34  host                   5555 non-null   object
 35  address                5555 non-null   object
 36  availability           5555 non-null   object
 37  review_scores          5555 non-null   object
 38  reviews                5555 non-null   object
 39  weekly_price           714 non-null    float64
 40  monthly_price          656 non-null    float64
 41  reviews_per_month      94 non-null     float64
dtypes: float64(8), int64(8), object(26)
memory usage: 1.8+ MB

In [6]:
bnb.describe()

,_id,minimum_nights,maximum_nights,accommodates,bedrooms,beds,number_of_reviews,bathrooms,price,security_deposit,cleaning_fee,extra_people,guests_included,weekly_price,monthly_price,reviews_per_month
count,5.555000e+03,5555.000000,5.555000e+03,5555.000000,5550.000000,5542.000000,5555.000000,5545.000000,5555.000000,3471.000000,4024.000000,5555.000000,5555.000000,714.000000,656.000000,94.000000
mean,1.664386e+07,5.564356,1.382776e+06,3.505851,1.411712,2.071454,27.606481,1.291163,278.766157,509.430424,94.074801,22.791899,1.747435,1530.903361,5391.370427,1.712766
std,9.622558e+06,22.613861,5.256920e+07,2.297019,1.041942,1.619660,49.798376,0.702265,842.215531,1594.805320,110.203782,69.331511,1.487352,3185.916331,12723.569651,1.492795
min,1.170800e+04,1.000000,1.000000e+00,1.000000,0.000000,0.000000,0.000000,0.000000,9.000000,0.000000,0.000000,0.000000,1.000000,60.000000,250.000000,1.000000
25%,8.376039e+06,1.000000,5.900000e+01,2.000000,1.000000,1.000000,1.000000,1.000000,70.000000,0.000000,23.000000,0.000000,1.000000,480.250000,1505.250000,1.000000
50%,1.711345e+07,2.000000,1.125000e+03,3.000000,1.000000,2.000000,5.000000,1.000000,129.000000,200.000000,60.000000,0.000000,1.000000,800.000000,2800.000000,1.000000
75%,2.461229e+07,3.000000,1.125000e+03,4.000000,2.000000,3.000000,32.000000,1.000000,280.000000,500.000000,129.000000,20.000000,2.000000,1575.250000,4800.000000,2.000000
max,3.295874e+07,1250.000000,2.147484e+09,16.000000,20.000000,25.000000,533.000000,16.000000,48842.000000,39228.000000,2000.000000,2346.000000,16.000000,59123.000000,253384.000000,10.000000

### Check the datatypes

In [7]:
bnb.dtypes

_id                        int64
listing_url               object
name                      object
summary                   object
space                     object
description               object
neighborhood_overview     object
notes                     object
transit                   object
access                    object
interaction               object
house_rules               object
property_type             object
room_type                 object
bed_type                  object
minimum_nights             int64
maximum_nights             int64
cancellation_policy       object
last_scraped              object
calendar_last_scraped     object
first_review              object
last_review               object
accommodates               int64
bedrooms                 float64
beds                     float64
number_of_reviews          int64
bathrooms                float64
amenities                 object
price                      int64
security_deposit         float64
cleaning_fee             float64
extra_people               int64
guests_included            int64
images                    object
host                      object
address                   object
availability              object
review_scores             object
reviews                   object
weekly_price             float64
monthly_price            float64
reviews_per_month        float64
dtype: object

In [8]:
bnb.isnull().sum()

_id                         0
listing_url                 0
name                        0
summary                     0
space                       0
description                 0
neighborhood_overview       0
notes                       0
transit                     0
access                      0
interaction                 0
house_rules                 0
property_type               0
room_type                   0
bed_type                    0
minimum_nights              0
maximum_nights              0
cancellation_policy         0
last_scraped                0
calendar_last_scraped       0
first_review             1388
last_review              1388
accommodates                0
bedrooms                    5
beds                       13
number_of_reviews           0
bathrooms                  10
amenities                   0
price                       0
security_deposit         2084
cleaning_fee             1531
extra_people                0
guests_included             0
images                      0
host                        0
address                     0
availability                0
review_scores               0
reviews                     0
weekly_price             4841
monthly_price            4899
reviews_per_month        5461
dtype: int64

In [9]:
bnb.isnull().sum()/len(bnb)

_id                      0.000000
listing_url              0.000000
name                     0.000000
summary                  0.000000
space                    0.000000
description              0.000000
neighborhood_overview    0.000000
notes                    0.000000
transit                  0.000000
access                   0.000000
interaction              0.000000
house_rules              0.000000
property_type            0.000000
room_type                0.000000
bed_type                 0.000000
minimum_nights           0.000000
maximum_nights           0.000000
cancellation_policy      0.000000
last_scraped             0.000000
calendar_last_scraped    0.000000
first_review             0.249865
last_review              0.249865
accommodates             0.000000
bedrooms                 0.000900
beds                     0.002340
number_of_reviews        0.000000
bathrooms                0.001800
amenities                0.000000
price                    0.000000
security_deposit         0.375158
cleaning_fee             0.275608
extra_people             0.000000
guests_included          0.000000
images                   0.000000
host                     0.000000
address                  0.000000
availability             0.000000
review_scores            0.000000
reviews                  0.000000
weekly_price             0.871467
monthly_price            0.881908
reviews_per_month        0.983078
dtype: float64

In [10]:
#> 80% , drop the column
#<10%, drop the rows
#remaing case => null value imputation

#### Dropping following 3 columns as null value % is more than 80

In [11]:
bnb.drop(['weekly_price','monthly_price','reviews_per_month'],axis=1,inplace=True)

#### Dropping the rows which is having null values for the following columns

In [12]:
bnb.dropna(subset=['bedrooms', 'beds', 'bathrooms'], inplace=True)

### Change datatype to appropriate type

In [13]:
bnb['last_scraped'] = pd.to_datetime(bnb['last_scraped'])
bnb['calendar_last_scraped'] = pd.to_datetime(bnb['calendar_last_scraped'])
bnb['first_review'] = pd.to_datetime(bnb['first_review'])
bnb['last_review'] = pd.to_datetime(bnb['last_review'])
bnb['price'] = bnb['price'].astype(float)

In [14]:
bnb.dtypes

_id                               int64
listing_url                      object
name                             object
summary                          object
space                            object
description                      object
neighborhood_overview            object
notes                            object
transit                          object
access                           object
interaction                      object
house_rules                      object
property_type                    object
room_type                        object
bed_type                         object
minimum_nights                    int64
maximum_nights                    int64
cancellation_policy              object
last_scraped             datetime64[ns]
calendar_last_scraped    datetime64[ns]
first_review             datetime64[ns]
last_review              datetime64[ns]
accommodates                      int64
bedrooms                        float64
beds                            float64
number_of_reviews                 int64
bathrooms                       float64
amenities                        object
price                           float64
security_deposit                float64
cleaning_fee                    float64
extra_people                      int64
guests_included                   int64
images                           object
host                             object
address                          object
availability                     object
review_scores                    object
reviews                          object
dtype: object

### Null value imputation

In [15]:
#if the data is numerical
#if data is normal => mean imputation
#if data is not normal => median imputation

#if the data is categorical
#mode 
#bfill/ffill

In [16]:
# Filling first and last review columns with the most recent date available in the dataset as it is a datetime column
bnb['first_review'].fillna(bnb['first_review'].max(), inplace=True)
bnb['last_review'].fillna(bnb['last_review'].max(), inplace=True)

/var/folders/qm/3svq6sqj7m57_kz_k8knmjx40000gn/T/ipykernel_913/387526771.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  bnb['first_review'].fillna(bnb['first_review'].max(), inplace=True)
/var/folders/qm/3svq6sqj7m57_kz_k8knmjx40000gn/T/ipykernel_913/387526771.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  bnb['last_review'].fillna(bnb['last_review'].max(), inplace=True)

In [17]:
# Filling null values with median imputation for security deposit and cleaning fee column
bnb['security_deposit'].fillna(bnb['security_deposit'].median(), inplace=True)
bnb['cleaning_fee'].fillna(bnb['cleaning_fee'].median(), inplace=True)

/var/folders/qm/3svq6sqj7m57_kz_k8knmjx40000gn/T/ipykernel_913/1409286843.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  bnb['security_deposit'].fillna(bnb['security_deposit'].median(), inplace=True)
/var/folders/qm/3svq6sqj7m57_kz_k8knmjx40000gn/T/ipykernel_913/1409286843.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  bnb['cleaning_fee'].fillna(bnb['cleaning_fee'].median(), inplace=True)

In [18]:
# Replace empty cells with some values
bnb['name'].replace(to_replace='', value='No Info Available', inplace=True)
bnb['summary'].replace(to_replace='', value='No Summary Available', inplace=True)
bnb['space'].replace(to_replace='', value='No Info Available', inplace=True)
bnb['description'].replace(to_replace='', value='No Description Available', inplace=True)
bnb['neighborhood_overview'].replace(to_replace='', value='No Info Available', inplace=True)
bnb['notes'].replace(to_replace='', value='No Info Available', inplace=True)
bnb['transit'].replace(to_replace='', value='No Info Available', inplace=True)
bnb['access'].replace(to_replace='', value='No Info Available', inplace=True)
bnb['interaction'].replace(to_replace='', value='No Info Available', inplace=True)
bnb['house_rules'].replace(to_replace='', value='No Info Available', inplace=True)

/var/folders/qm/3svq6sqj7m57_kz_k8knmjx40000gn/T/ipykernel_913/2156608287.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  bnb['name'].replace(to_replace='', value='No Info Available', inplace=True)
/var/folders/qm/3svq6sqj7m57_kz_k8knmjx40000gn/T/ipykernel_913/2156608287.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  bnb['summary'].replace(to_replace='', value='No Summary Available', inplace=True)
/var/folders/qm/3svq6sqj7m57_kz_k8knmjx40000gn/T/ipykernel_913/2156608287.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  bnb['space'].replace(to_replace='', value='No Info Available', inplace=True)
/var/folders/qm/3svq6sqj7m57_kz_k8knmjx40000gn/T/ipykernel_913/2156608287.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  bnb['description'].replace(to_replace='', value='No Description Available', inplace=True)
/var/folders/qm/3svq6sqj7m57_kz_k8knmjx40000gn/T/ipykernel_913/2156608287.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  bnb['neighborhood_overview'].replace(to_replace='', value='No Info Available', inplace=True)
/var/folders/qm/3svq6sqj7m57_kz_k8knmjx40000gn/T/ipykernel_913/2156608287.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  bnb['notes'].replace(to_replace='', value='No Info Available', inplace=True)
/var/folders/qm/3svq6sqj7m57_kz_k8knmjx40000gn/T/ipykernel_913/2156608287.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  bnb['transit'].replace(to_replace='', value='No Info Available', inplace=True)
/var/folders/qm/3svq6sqj7m57_kz_k8knmjx40000gn/T/ipykernel_913/2156608287.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  bnb['access'].replace(to_replace='', value='No Info Available', inplace=True)
/var/folders/qm/3svq6sqj7m57_kz_k8knmjx40000gn/T/ipykernel_913/2156608287.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  bnb['interaction'].replace(to_replace='', value='No Info Available', inplace=True)
/var/folders/qm/3svq6sqj7m57_kz_k8knmjx40000gn/T/ipykernel_913/2156608287.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  bnb['house_rules'].replace(to_replace='', value='No Info Available', inplace=True)

In [19]:
(bnb.isnull().sum()/len(bnb))*100

_id                      0.0
listing_url              0.0
name                     0.0
summary                  0.0
space                    0.0
description              0.0
neighborhood_overview    0.0
notes                    0.0
transit                  0.0
access                   0.0
interaction              0.0
house_rules              0.0
property_type            0.0
room_type                0.0
bed_type                 0.0
minimum_nights           0.0
maximum_nights           0.0
cancellation_policy      0.0
last_scraped             0.0
calendar_last_scraped    0.0
first_review             0.0
last_review              0.0
accommodates             0.0
bedrooms                 0.0
beds                     0.0
number_of_reviews        0.0
bathrooms                0.0
amenities                0.0
price                    0.0
security_deposit         0.0
cleaning_fee             0.0
extra_people             0.0
guests_included          0.0
images                   0.0
host                     0.0
address                  0.0
availability             0.0
review_scores            0.0
reviews                  0.0
dtype: float64

In [20]:
bnb.address[2]

{'street': 'Hong Kong, Hong Kong Island, Hong Kong',
 'suburb': 'Central & Western District',
 'government_area': 'Central & Western',
 'market': 'Hong Kong',
 'country': 'Hong Kong',
 'country_code': 'HK',
 'location': {'type': 'Point',
  'coordinates': [114.15027, 22.28158],
  'is_location_exact': True}}

In [21]:
def extract_area(address):
    try:
        area = address.get('government_area', 'N/A')
        return area
    except Exception as e:
        return None

In [22]:
bnb['area'] = bnb['address'].apply(extract_area)

In [23]:
bnb.host[0]

{'host_id': '454250',
 'host_url': 'https://www.airbnb.com/users/show/454250',
 'host_name': 'Greta',
 'host_location': 'New York, New York, United States',
 'host_about': 'By now I have lived longer in the city than the country however I feel equally at home in each. I like to keep one foot in each and help others to do the same!',
 'host_response_time': 'within an hour',
 'host_thumbnail_url': 'https://a0.muscache.com/im/pictures/f1022be4-e72a-4b35-b6d2-3d2736ddaff9.jpg?aki_policy=profile_small',
 'host_picture_url': 'https://a0.muscache.com/im/pictures/f1022be4-e72a-4b35-b6d2-3d2736ddaff9.jpg?aki_policy=profile_x_medium',
 'host_neighbourhood': '',
 'host_response_rate': 100,
 'host_is_superhost': True,
 'host_has_profile_pic': True,
 'host_identity_verified': True,
 'host_listings_count': 3,
 'host_total_listings_count': 3,
 'host_verifications': ['email',
  'phone',
  'reviews',
  'jumio',
  'offline_government_id',
  'government_id']}

In [24]:
def extract_host_name(hostaddress):
    try:
        host_name = hostaddress.get('host_name', 'N/A')
        return host_name
    except Exception as e:
        return None

In [25]:
bnb['host_name'] = bnb['host'].apply(extract_host_name)

In [26]:
def extract_country(address):
    try:
        country = address.get('country', 'N/A')
        return country
    except Exception as e:
        return None

In [27]:
bnb['country'] = bnb['address'].apply(extract_country)

In [28]:
bnb.availability[4]

{'availability_30': 0,
 'availability_60': 0,
 'availability_90': 0,
 'availability_365': 0}

In [29]:
def extract_availability(address):
    try:
        availability = address.get('availability_90', 0)
        return availability
    except Exception as e:
        return None

In [30]:
bnb['availability'] = bnb['availability'].apply(extract_availability)

In [31]:
def calculate_average_rating(review_scores):
    keys = [
        'review_scores_accuracy',
        'review_scores_cleanliness',
        'review_scores_checkin',
        'review_scores_communication',
        'review_scores_location',
        'review_scores_value'
    ]
    
    # Collect available scores
    scores = [review_scores[key] for key in keys if key in review_scores]
    
    # Calculate the average if there are available scores
    if scores:
        average_rating = sum(scores) / len(scores)
    else:
        average_rating = 0  
    
    return average_rating

In [32]:
bnb['rating'] = bnb['review_scores'].apply(calculate_average_rating)

In [33]:
bnb['rating'] = round(bnb['rating'],1)

In [34]:
bnb.drop(columns='review_scores', inplace=True)

In [35]:
bnb.drop_duplicates()

TypeError: unhashable type: 'list'

In [36]:
# Identify columns with lists or other unhashable types
for col in bnb.columns:
    if bnb[col].apply(lambda x: isinstance(x, list) or isinstance(x, dict)).any():
        print(f"Column '{col}' contains unhashable types.")

Column 'amenities' contains unhashable types.
Column 'images' contains unhashable types.
Column 'host' contains unhashable types.
Column 'address' contains unhashable types.
Column 'reviews' contains unhashable types.

In [37]:
# Convert lists/dicts to strings to check for duplicates
for col in bnb.columns:
    if bnb[col].apply(lambda x: isinstance(x, list) or isinstance(x, dict)).any():
        bnb[col] = bnb[col].apply(lambda x: str(x) if isinstance(x, (list, dict)) else x)

In [38]:
bnb[bnb.duplicated()]

Empty DataFrame
Columns: [_id, listing_url, name, summary, space, description, neighborhood_overview, notes, transit, access, interaction, house_rules, property_type, room_type, bed_type, minimum_nights, maximum_nights, cancellation_policy, last_scraped, calendar_last_scraped, first_review, last_review, accommodates, bedrooms, beds, number_of_reviews, bathrooms, amenities, price, security_deposit, cleaning_fee, extra_people, guests_included, images, host, address, availability, reviews, area, host_name, country, rating]
Index: []

[0 rows x 42 columns]

In [39]:
# Convert strings back to lists or dicts
columns_to_convert = ['amenities', 'images', 'host', 'address', 'availability', 'reviews']
for col in columns_to_convert:
    if bnb[col].apply(lambda x: isinstance(x, str)).any():
        bnb[col] = bnb[col].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

In [40]:
bnb.to_csv('Airbnb.csv',index=False)

In [41]:
bnb.to_json('Airbnb.json',index=False)